# Terraform local files
terraform.tfvars
*.tfplan

# Terraform state
*.tfstate
*.tfstate.*

# Terraform cache
.terraform/

# Sensitive overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc